# dbt
dbt_packages/
logs/
target/
docs/.obsidian/graph.json
docs/.obsidian/workspace.json
docs/.obsidian/hotkeys.json
.vscode/
airflow_providers/apache_airflow_providers_datacraft_dags/dist
airflow_providers/apache_airflow_providers_datacraft_airbyte/dist
.venv